


body{
    margin: 0px;
    padding: 0px;
    font-family: "Quintessential", serif;

    background-image: url(imagens/mikefoster-mustang-778263_1920.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    height: 100px;

    display: flex;
    justify-content: center;
    align-items: center;

    color: gold;
}

.form-container{
    background-color:#0c1815;

    padding: 40px;
    border-radius: 10px;

    width: 300px;

    color: gold;

    box-shadow: 0px 0px 20px #0c1815;
}

.form-container h2{
    text-align: center;
    margin-bottom: 20px;
}

form{
    display: flex;
    flex-direction: column;
}

label{
    margin-top: 10px;
}

input{
    padding: 10px;
    margin-top: 5px;
    border: none;
    border-radius: 5px;
}

button{
    margin-top: 0px;
    padding: 12px;
    border: none;
    border-radius: 5px;

    background-color: gold;
    color: #0c1815;

    font-weight: bold;
    cursor: pointer;
}

button:hover{
    background-color: orange;
}