body{
    font-family: Arial;
    text-align: center;
    background-color:#0c1815;
    color: #aaaa91;
}

.botao-galeria, .botao-voltar{
    display: inline-block;
    margin-top: 20px;
    padding: 12px 25px;
    background-color: gold;
    color: #aaaa91;
    text-decoration: none;
    border-radius: 8px;
    font-weight: bold;
}

.botao-galeria:hover, .botao-voltar:hover{
    background-color: #0c1815;
}

.galeria{
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 30px;
}

.galeria img{
    width: 300px;
    border-radius: 10px;    
}
