body{
    font-family: Arial; /*fonte*/
    text-align: center; /*alinhamento do texto*/
    background-color:#0c1815; /*cor do fundo*/
    color: #aaaa91; /*cor do texto*/
}

.botao-galeria, .botao-voltar{
    display: inline-block; /*lado a lado estilizado*/
    margin-top: 20px; /*margem de cima*/
    padding: 12px 25px; /*preenchimento do interior*/
    background-color: gold; /*cor do fundo*/
    color: #aaaa91; /*cor do texto*/
    text-decoration: none; /*estilo do texto*/
    border-radius: 8px; /*estilo da borda*/
    font-weight: bold; /*espessura da letra*/
}

.botao-galeria:hover, .botao-voltar:hover{
    background-color: #0c1815; /*cor do fundo*/
}

.galeria{
    display: flex;  /*deixar lado a lado*/
    justify-content: center; /*justificar itens*/
    gap: 20px; /*espaçamento entre os icones*/
    flex-wrap: wrap; /*adequar a linha*/
    margin-top: 30px; /*margem de cima*/
}

.galeria img{
    width: 300px; /*largura da img*/
    border-radius: 10px; /*estilo da borda*/
}
