/*Margens do site*/
*{
    padding: 0px; /*preenchimento interno*/
    margin: 0px; /*margem*/
    scroll-behavior: smooth; /*deslize de atalho dos botoes do header*/
    font-family: "Quintessential", serif; /*fonte do texto*/
}

/*estilizando o header*/
header{
    padding: 25px; /*preenchimento interno*/
    justify-content: space-evenly; /*justificar no centro*/
    align-items: center; /*alinhamento vertical*/
    display: flex; /*deixar os itens lado a lado*/
    background-color:#0c1815; /*cor do fundo*/
    position:sticky; /*faz com que o elemento fique grudado na tela quando o usuario rolar a pagina*/
    top: 0; /*define que o elemento ficara preso ao topo da tela*/
    left: 0; /*define o alinhamento a esquera da pagina*/
    z-index: 1; /*controla a sobreposição do elemento sobre outros elementos da pagina*/
}

.whatsapp img{ /*alterando o icon do whattsapp*/
    width: 50px; /*largura*/
}

.whatsapp{ /*div que guarda o icon whattasapp*/
    position: fixed; /*posicionamento*/
    right: 25px; /*posiçao a dieita*/
    bottom: 25px; /*posicição ao bottom*/
}

.whatsapp img:hover{
    width: 60px; /*largura*/
    transition: 0.8s; /*tempo de transição*/
}
/*estilizando o icon*/
header img{
    width: 100px; /*largura da img*/
}

/*estilizando o h1*/
header h1{
    font-size: 36px; /*tamanho da letra*/
    color: #aaaa91; /*cor do texto*/
}

/*estiliizando a list*/
.list-menu ul{
    justify-content: center; /*justificar no centro*/
    display: flex; /*deixar os itens lado a lado*/
    gap: 20px; /*espaçamento enttre as (li)*/
}

.list-menu ul li{
    list-style: none; /*estilo da lista*/
}

.list-menu ul li a{
    text-decoration: none; /*remover sublinhado*/
    color: #aaaa91; /*cor do texto*/
}

.list-menu ul li a:hover {
    color: yellow; /*cor do texto*/

}

.form{
    text-decoration: none; /*remover sublinhado*/
    border: none; /*estilo da borda*/
    background-color: #0c1815;/*cor do fundo*/
    color: #aaaa91; /*cor do texto*/
     font-size: 17px; /*tamanho da letra*/
    font-family: 'Times New Roman', Times, serif; /*fonte do texto*/
    cursor: pointer; /*alterar cursor*/
}

/*fim do cabecalho*/

/*sections*/

.div-01{
    width: 260px; /*largura da img*/
    margin-left: 0px; /*margem da esquerda*/
}

.section-01{
    display: flex; /*deixar os itens lado a lado*/
    align-items: center; /*alinhamento vertical*/
    justify-content: space-evenly; /*justificar no centro*/
    flex-direction: row; /*direção das caixas*/
    padding: 40px; /*preenchimento interno*/
    gap: 60px; /*espaçamento enttre as (li)*/
    background-color:#000000 /*cor do fundo*/
}

.div-02 p{
    color: #aaaa91; /*cor do texto*/
    font-size: 32px; /*tamanho da letra*/
    margin-left: 30px; /*margem da esquerda*/
    text-align: center; /*alinhamento do texto*/
}

/*texto em destaque da section 01*/

span{
    color:gold; /*cor do texto*/
    font-size: 40px; /*tamanho da letra do span*/
}

/*final da section 01*/

/*section 02*/
/*icones são manipulados como texto*/

.fa-brands{
    font-size: 60px; /*tamanho do icone*/
    color: #aaaa91; /*cor do icone*/
}

.section-02{
    background-color: #000000; /*cor do fundo*/
    padding: 50px;  /*preenchimento interno*/
    color:  #aaaa91 ; /*cor das letrras (H2 e P)*/
    display: flex; /*deixar os itens lado a lado*/
    align-items: center; /*alinhamento vertical*/
    justify-content: center; /*justificar no centro*/
    flex-direction: column; /*direção das caixas*/
    text-align: center; /*alinhamento do texto*/
}

.paragrafo-section-2 h2{
    font-size: 30px; /*tamanho do icone*/
    text-transform: uppercase; /*tornando o texto em caixa alta*/
}

.paragrafo-section-2 p{
    font-size: 25px; /*tamanho da letra*/
}

.div-icon{
    display: flex; /*deixar os itens lado a lado*/
    gap: 20px; /*espaçamento entre os icones*/
}

/*inicio da section 03*/
.section-03{
    background-image: url(imagens/planta\ car.jpg); /*imagem do fundo*/
    background-repeat: no-repeat; /*não repetir*/
    background-size: cover; /*cobrir fundo*/
    background-position: center; /*definir posição da imagem*/
    background-attachment: fixed; /*deixar a imagem parada*/
    padding: 200px; /*definir tamanho*/
    display: flex; /*deixar lado a lado*/
    align-items: center; /*alinhar itens*/
    justify-content: center; /*justificar itens*/
}

.section-03 button{
   padding: 20px; /*preenchimento interno*/
   width: 150px; /*largura do button*/
   background-color: #000000; /*cor do fundo*/
   color: gold; /*cor do texto*/
   font-weight: 800; /*espessura da letra*/
   border: none; /*remover borda*/
   border-radius: 20px; /*alterar a borda do button*/
   cursor: pointer; /*alterar o cursor*/
}

.botao-galeria{
    text-decoration: none; /*estilo do texto*/
    color: gold; /*cor do teto*/
}

/*section 04*/
.section-04 div{
    width: 300px; /*largura*/
    height: 300px; /*altura*/
    background-color: #000000; /*cor do fundo*/
    padding: 15px; /*preenchimento*/
    text-align: center; /*alinhamento de texto*/
    box-shadow: 3px 5px 40px gold; /*cor da sombra*/
}

.section-04 div:hover{
    box-shadow: 6px 10px 80px gold; /*cor da sombra*/
    transition: 0.5s; /*efeito de movimwnto*/
}

/* formatação das div */
.section-04{
    display: flex; /*deixar lado a lado*/
    align-items: center; /*alinhamento vertical*/
    justify-content: space-evenly; /*alinhamento horizontal*/
    gap: 30px; /*espaço entre as div*/
    padding: 60px; /*preenchimento interno*/
    background-color:#000000; /*cor de fundo*/
}

.caixa-01{
    color:gold;
    margin: 15px;
}

/*estilizando a div02*/
.caixa-02{
    background-image: url(imagens/motor.jpg);/*inserir img*/
    background-position: center; /*definir posição*/
    background-repeat: no-repeat; /*não repetir img*/
    background-size: cover; /*preencher img*/
}

/*estilizando titulo*/
.caixa-01 h2{
    font-size: 32px; /*tamanho da letra*/
    text-transform: uppercase; /*caixa alta*/
    margin-top: 30px;/*espaçamento superior*/
}

/*estilizando paragrafo*/
.caixa-01 p{
    font-size: 20px; /*tamanho da letra*/
    font-weight: 700; /*espessura da letra*/
}

.fa-star, .fa-star-half{
    font-size: 30px; /*tamanho da letra*/
    color: gold; /*cor do texto*/
    margin: 7px; /*cor do texto*/
}

.fa-instagram{
    font-size: 70px; /*tamanho da letra*/
    margin-top: 30px;/*espaçamento superior*/
    margin-bottom: 15px; /*margem do botão*/
    color: gold; /*cor do icon*/
    margin: 20px; /*margem*/
}

.fa-instagram:hover{
    box-shadow: 10px 10px 20px gold; /*cor da sombra*/
}

.caixa-03{
    font-size: 20px; /*tamanho da letra*/
    font-weight: 700; /*espessura da letra*/
    color: gold; /*cor do texto*/
}

/*estilizando o button caixa 03*/
.caixa-03 button{
    padding: 7px; /*preenchimento interno*/
    background-color: #12122b; /*cor de fundo*/
    color: gold; /*cor do botao*/
    width: 130px; /*largura do botao*/
    border: none; /*remover borda*/
    border-radius: 70px; /*borda do botão*/
    margin: 35px; /*margem*/
}

footer{
    background-color: #0c1815; /*cor de fundo*/
    padding: 80px; /*preenchimento interno*/
    color: gold; /*cor do texto*/
    display: flex; /*deixar lado a lado*/
    align-items: center; /*alinhar texto*/
    justify-content: center; /*justificar itens*/
    flex-direction: column; /*deixar os itens em coluna*/
    font-weight: 700; /*espessura da letra*/
    text-align: center; /*centralizar texto*/
}

.caixa-icon i{
    color: #383845; /*cor do icon*/
    font-size: 35px; /*tamanho do icon*/
    margin: 7px; /*margem do icon*/
}

.caixa-footer{
    text-align: center; /*alinhar texto*/
}